
.topTables {
  border: 1px solid black;
  text-align: center;
  width: 95%;
}
.bottomTables {
  border: 1px solid black;
  text-align: center;
  width: 50%;
}
td {
  border: 1px solid black;
  text-align: center;
}
th {
  border: 1px solid black;
  text-align: center;
}
tr:nth-child(odd) {
   background-color: #ccc;
}
button {
  text-align: center;
}
.floatLeft {
  float: left;
}
.floatRight {
  float: right;
}

#responsive-form{
	max-width:100%; /*-- change this to get your desired form width --*/;
	margin:0
	auto;
  width:100%;
}

.column-half, .column-full{
	float: left;
	position: relative;
	padding: 0.65rem;
	width:100%;
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

.fed-min {
  white-space: nowrap;
}

p {
  font-size: 12px;
  width: 150px;
  display: inline-block;
  margin-left: 18px;
}
h1 {
  font-size: 32px;
  font-weight: 300;
  color: #4c4c4c;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-size: 26px;
  font-weight: 300;
  color: #4c4c4c;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 10px;
}

h3 {
  font-size: 18px;
  font-weight: 300;
  color: #4c4c4c;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 10px;
}

html{
  background-color: #ffffff;
}
