<link rel="stylesheet" href="/client/app/tax/createtax/tax.createtax.css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <h1 class="hcenter">Paycheck Calculator</h1>

    <div class="w3-container">
    <div class="w3-progress-container">
      <div id="myBar" class="w3-progressbar w3-green" style="width:1%">
        <div id="demo" class="w3-center w3-text-white">0%</div>
      </div>
    </div>
  </div>
  <br>
  <div class="hcenter">
  <button class="w3-btn w3-dark-grey" ng-click="vm.move()">Click Me</button>
</div>

    <br>

    <form class="hcenter" method="post" ng-submit="vm.createTax()">



      <div id="federalTaxes">
        <h1>Federal Taxes</h1>
        <label>Salary</label>
        <input class="hcenter" type="number" ng-model="vm.tax.salary" placeholder="Salary" min="0" id="salary">
        <br>
        <label>Age</label>
        <input type="number" class="hcenter" ng-model="vm.tax.age" placeholder="Age" min="0" id="age">
        <br>
        <label>Spouse Age (If Applicable)</label>
        <input type="number" class="hcenter" ng-model="vm.tax.spouseAge" placeholder="Age" min="0" id="age">
        <br>
        <label>Are you..?</label>
        <br>
        <span>
          <label>Blind</label>
          <input type="checkbox" ng-model="vm.tax.isBlind">
          <label>Dependent</label>
          <input type="checkbox" ng-model="vm.tax.isDependent">
          <label>Qualified Renter</label>
          <input type="checkbox" ng-model="vm.tax.isRenter">
        </span>
        <br>
        <br>
        <label>Is Your Spouse..?</label>
        <span>
        <label>Blind</label>
        <input type="checkbox" ng-model="vm.tax.spouseBlind">
      </span>
        <br>
        <br>
        <label>Filing Type</label>
        <select class="hcenter" ng-model="vm.tax.filingType">
          <option class="hcenter">Single</option>
          <option class="hcenter">Married Filing Jointly</option>
          <option class="hcenter">Married Filing Separately</option>
          <option class="hcenter">Head Of Household</option>
          <option class="hcenter">Qualifying Widow/Widower</option>
        </select>
        <br>
        <h3>Adjustments</h3>
        <label>401K/IRA</label>
        <input class="hcenter" type="number" placeholder="401K/IRA" min="0" max="5500" ng-model="vm.tax.retirement">
        <br>
        <label>Alimony</label>
        <input class="hcenter" type="number" placeholder="Alimony" min="0" ng-model="vm.tax.alimony">
        <br>
        <label>Student Loan Interest</label>
        <input class="hcenter" type="number" placeholder="Student Loan Interest" min="0" ng-model="vm.tax.studentLoanInterest">
        <br>
        <label><h3>Federal Deductions</h3></label>
        <br>
          <input type="radio" id="standardFederal" value="standardFederal" name="fedDeductions"  >Standard
        <input type="radio" id="itemizedFederal" value="itemizedFederal" name="fedDeductions" ng-model="fedDeductions" >Itemized
        <br>
          <div ng-show="fedDeductions == 'itemizedFederal'">
            <table align="center">
              <thead>
                <td>Description</td>
                <td>Amount</td>
                <td><button class="btn btn-success" type="button" name="button" id="addFederalDeductionButton" ng-click="vm.addFederalDeduction()">+</button></td>
              </thead>
              <tbody ng-repeat="d in vm.tax.federalDeductionsTable">
                <td><input class="hcenter" type="text" id="federalDeductionDescription" ng-model="d.type"></td>
                <td><input class="hcenter" type="number" id="federalDeductionAmount" ng-model="d.amount"></td>
                <td><button class="btn btn-danger" ng-click="vm.removeFederalDeduction(d)">-</button></td>
              </tbody>
            </table>
          </div>
        <br>
        <h3>Personal Exemptions</h3>
        <label>Number of Exemptions</label>
        <input class="hcenter" type="number" placeholder="Number of Exemptions" min="0" ng-model="vm.tax.numberOfExemptions">
        <br>
        <label><h3>Credits</h3></label>
        <table align="center">
          <thead>
            <td>Description</td>
            <td>Amount</td>
            <td><button type="button" class="btn btn-success" name="button" id="addCreditButton" ng-click="vm.addCredit()">+</button></td>
          </thead>
          <tbody ng-repeat="c in vm.tax.creditTable">
            <td><input class="hcenter" type="text" id="creditDescription" ng-model="c.type"></td>
            <td><input class="hcenter" type="number" id="creditAmount" ng-model="c.amount"></td>
            <td><button class="btn btn-danger" ng-click="vm.removeCredit(c)">-</button></td>
          </tbody>
        </table>

        <br>
        <label><h3>Additional Federal Amount</h3></label>
        <br>
        <input class="hcenter" type="number" placeholder="Additional Federal Amount" min="0" ng-model="vm.tax.additionalFederalAmount">
      </div>
      <div id="stateTaxes">
        <h1>State Taxes</h1>
        <label>Choose Your State</label>
        <br>
        <select ng-model="vm.tax.state">
          <option>California</option>
        </select>
        <br>
        <label><h3>State Deductions</h3></label>
        <br>
        <input type="radio" id="standardState" value="standardState" name="stateDeductions" >Standard
        <input type="radio" id="itemizedState" value="itemizedState" name="stateDeductions" ng-model="stateDeductions" >Itemized
        <br>
          <div ng-show="stateDeductions == 'itemizedState'">
            <table align="center">
              <thead>
                <td>Add Description</td>
                <td>Add Amount</td>
                <td><button type="button" class="btn btn-success" name="button" id="addStateDeduction" ng-click="vm.addStateDeduction()">+</button></td>
              </thead>
              <tbody ng-repeat="s in vm.tax.stateDeductionsTable">
                <td><input class="hcenter" type="text" id="stateDeductionDescription" ng-model="s.type"></td>
                <td><input class="hcenter" type="number" id="stateDeductionAmount" ng-model="s.amount"></td>
                <td><button class="btn btn-danger" ng-click="vm.removeStateDeduction(s)">-</button></td>
              </tbody>
            </table>
          </div>
        <br>
      </div>
      <label><h3>Additional State Amount</h3></label>
      <br>
      <input class="hcenter" type="number" placeholder="Additional State Amount" min="0" ng-model="vm.tax.additionalStateAmount">
      <br>
      <br>
      <button type="submit" class="btn btn-success">Submit</button>
      <br>
    </form>
